# Using the c daemon to lazy load the python daemon when a controller connects
[Unit]
Description=Gamepadify Controller Script

[Service]
Type=simple
ExecStart=gamepadifyd /root/.local/bin/mygamepad
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
